*{
    margin: 0;
    
}
body{
    font-family: 'Roboto', sans-serif !important;
   height: 1400px;
}

.elementosRegistro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailPassword{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonAgregar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.hero{
    background-color: rgb(132, 155, 217);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 25px;
    height: 120px;
    text-shadow: rgb(44, 44, 44) 0.1em 0.1em 0.2em;
}
#filtroOrden{
display: flex;
align-items: center;
justify-content: center;
}

.tablaDeDeudores{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    list-style-type: none;
}


button{
    margin-left: 8px;
}
input{
    margin: 15px;
}

.tablaDeRecomendadoras{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3, h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}